@font-face {
    font-family: "Crimson Text";
    src: url('/static/fonts/crimsontext/Crimson-Roman.woff2') format('woff2'),
         url('/static/fonts/crimsontext/Crimson-Roman.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Crimson Text";
    src: url('/static/fonts/crimsontext/Crimson-Italic.woff2') format('woff2'),
         url('/static/fonts/crimsontext/Crimson-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Crimson Text";
    src: url('/static/fonts/crimsontext/Crimson-SemiBold.woff2') format('woff2'),
         url('/static/fonts/crimsontext/Crimson-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Crimson Text";
    src: url('/static/fonts/crimsontext/Crimson-SemiBoldItalic.woff2') format('woff2'),
         url('/static/fonts/crimsontext/Crimson-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Crimson Text";
    src: url('/static/fonts/crimsontext/Crimson-Bold.woff2') format('woff2'),
         url('/static/fonts/crimsontext/Crimson-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Crimson Text";
    src: url('/static/fonts/crimsontext/Crimson-BoldItalic.woff2') format('woff2'),
         url('/static/fonts/crimsontext/Crimson-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Fira Mono";
    src: url('/static/fonts/firamono/FiraMono-Regular.woff2') format('woff2'),
         url('/static/fonts/firamono/FiraMono-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Fira Mono";
    src: url('/static/fonts/firamono/FiraMono-Bold.woff2') format('woff2'),
         url('/static/fonts/firamono/FiraMono-Bold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}
